<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftSlopes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>29FA45891E54975B00DC5AFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29FA459D1E54975C00DC5AFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29FA45A81E54975C00DC5AFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
